@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

$font-family: 'Raleway', sans-serif;

$bg-color: #222831;
$font-color: #fffbe0;
$bright-font-color: #fcda05;
$border-color: #fcda05;
$modal-bg-color: #393e46;
$cards-bg-color: #393e46;
$hover-color: #fcda05;
$block-hover-color:#222831;
$btn-hover-color: #fcda05;
$nav-border-color: #fffbe0;

$google-font-color: #fff;
$google-btn-color: #4285f4;
$google-btn-active-color: #1669F2;