@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

// $bg-color: #2e3141;
// $font-color: #e5dfe2;
// $bright-font-color: #4e6bd1;
// $border-color: #4e5160;
// $modal-bg-color: #4c5c96;
// $cards-bg-color: #45558d;
// $shadow-color: #3f4e85;
// $btn-hover-color: rgba(255, 255, 255, 0.025);

$font-family: 'Raleway', sans-serif;

$bg-color: #222831;
$font-color: #fffbe0;
$bright-font-color: #fcda05;
$border-color: #fcda05;
$modal-bg-color: #393e46;
$cards-bg-color: #393e46;
$hover-color: #fcda05;
$block-hover-color:#222831;
$btn-hover-color: #fcda05;

$google-font-color: #fff;
$google-btn-color: #4285f4;
$google-btn-active-color: #1669F2;