@import "../variables.scss";
@import '../mixins.scss';


  
  .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: flex-start;

  a, .logoutBtn {
    @include centered-elements;
    transition: background-color 0.2s ease-in-out;
    height: 100%;
    padding: 0.5rem 1rem;
    text-transform: uppercase;  
  }

  .logoutBtn{
    margin-left: auto;
    cursor: pointer;

    &::before {
      content: "выйти";
    }
  }

  .menu{
    margin-left: auto;

    &::before {
      content: "меню";
    }
  }

  .login::before {
    content: "Войти";
  }

  .auth::before {
    content: "Зарегистрироваться";
  }

  .main{
    margin-right: 1rem; 

    &::before {
      content: "Главная";
    }
  }

  .userName, .userStatus, .userScore{
    cursor: pointer;
  }

  .userName{
    font-weight: bold;
  }

  .userStatus{
    border: 1px solid $border-color;
    padding: .4rem;
    background-color: darken($bg-color, 5%);
  }

  .userScore{
    &:hover{
      color: $bright-font-color;
    }
  }

  div+div{
    margin-left: 1rem;
  }

}

@media screen and (min-width: 640px){
.navbar{
  a, .logoutBtn{

    &:hover {
      background-color: $btn-hover-color;
      color: $bg-color;
    }
  }
}
}

@media screen and (max-width: 640px) {
  .navbar {

    a:focus::before, a:active::before, .logoutBtn:active::before, .logoutBtn:focus::before{
      color: $btn-hover-color;
     }

    a::before, .logoutBtn::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }

   .menu::before {
      content: "\f0c9";
    }

    .logoutBtn::before {
      content: "\f2f5";
    }

    .login::before {
      content: "\f2f6";
    }

    .auth::before {
      content: "\f234";
    }

    .main::before {
      content: "\f015";
    }
  }
}
